<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="example-config">

    <!-- properties, die in dieser Datei verwendet werden -->
    <Properties>
        <!-- Alle Log-Dateien werden im Directory /logs gespeichert -->
        <Property name="LOG_DIR">$/logs</Property>
		<Property name="filename">log/simulation.log</Property>
		<Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
		<File name="FILESIMULATION" fileName="${filename}">
			<PatternLayout>
				<pattern> %-5level %C{3.} %m%n</pattern>
	<!--		<pattern>%d %p %C{3.} [%t] %m%n</pattern> -->
			</PatternLayout>
		</File>
        
    </Appenders>
    
    <Loggers>
        <!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL, OFF  -->
        
        <Logger name="Strategie" level="debug" additivity="false">
            <AppenderRef ref="FILESIMULATION"/>
        </Logger>
        
        <Logger name="depot.Trade" level="debug" additivity="false">
            <AppenderRef ref="FILESIMULATION"/>
        </Logger>

<!--
        <Logger name="signal.GDDurchbruch" level="debug" additivity="false">
            <AppenderRef ref="FILESIMULATION"/>
        </Logger>
        
        <Logger name="signal.Signalsuche" level="debug" additivity="false">
            <AppenderRef ref="FILESIMULATION"/>
        </Logger>

        <Logger name="depot.StopLossStrategieStandard" level="trace" additivity="false">
            <AppenderRef ref="FILESIMULATION"/>
        </Logger>

        <Logger name="signal.Signal" level="debug" additivity="false">
            <AppenderRef ref="FILESIMULATION"/>
        </Logger>

        <Logger name="signal.GDDurchbruch" level="trace" additivity="false">
            <AppenderRef ref="FILESIMULATION"/>
        </Logger>

        <Logger name="signal.GDSchnitt" level="trace" additivity="false">
            <AppenderRef ref="FILESIMULATION"/>
        </Logger>

        <Logger name="depot.Depot" level="debug" additivity="false">
            <AppenderRef ref="FILESIMULATION"/>
        </Logger>

        <Logger name="signal.Jahrestag" level="trace" additivity="false">
            <AppenderRef ref="FILESIMULATION"/>
        </Logger>
-->    

        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>

    </Loggers>
</Configuration>